.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: auto;
    width: 90%;
    /* height: ; */
}

.garden-container {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
}

containter > div {
    margin: 5px;
}

.plot {
    flex: 0 0 30%;
    height: 30%;
    margin-bottom: 5px;
    margin-right: 5px;
    /* background-color: #990000; */
    border: 1px solid black;
    text-align: center;
    white-space: pre-line;
}

.msg-div {
    width: 30%;
    max-width: 30%;
}

.inv-div {
    margin-left: 200px;
    width: 15%;
    max-width: 15%;
}

.shop-div {
    width: 30%;
    max-width: 30%;
}

.outside {
    margin:auto;
    max-width: 95%;
}

.failedAttempt {
    color: red;
}
